mixin entry (post)
  li
    h5= post.created
    h2
      a(href=post.href)= post.title
    ul.tags
      each cat in post.categoryObjs
        li
          a(href=cat.href)= cat.name
    p!= post.abstract

doctype html
html(lang='en')
  head
    title #{category.name} | #{blog.title}
    meta(name='viewport', content='initial-scale=1.0')
    link(rel='stylesheet', href=blog.stylesheet)

  body
    header
      h3
        a(href=blog.baseurl)= blog.description
      if blog.hasLinks
        nav
          ul
            each link in blog.links
              li
                a(href=link.href)= link.text

    main
      h1= category.name
      ul
        each post in category.posts
          +entry(post)

    .footer
      h6 Powered by <a href='https://npmjs.com/package/ghournal'>ghournal</a>

    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
