mixin entry (post)
  li
    h5= post.created
    h2
      a(href=post.href)= post.title
    ul.tags
      each cat in post.categoryObjs
        li
          a(href=cat.href)= cat.name
    p!= post.abstract

doctype html
html(lang='en')
  head
    title #{post.title} | #{blog.name}
    meta(name='viewport', content='initial-scale=1.0')
    link(rel='stylesheet', href=blog.stylesheet)
    link(rel='stylesheet', href=post.stylesheet)

  body
    header
      h3
        a(href=blog.baseurl)= blog.description
      if blog.hasLinks
        nav
          ul
            each link in blog.links
              li
                a(href=link.href)= link.text

    main
      if post.cover_image
        img.cover(src=post.cover_image)
      h1= post.title
      h5= post.created
      ul.tags
        each cat in post.categoryObjs
          li
            a(href=cat.href)= cat.name

      article!= post.content

    if hasSimilar
      aside
        h4= SIMILAR
        ul
          each ent in similar
            +entry(ent)

    .footer
      h6 Powered by <a href='https://npmjs.com/package/ghournal'>ghournal</a>

    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
